*.idea
/node_modules
/public/assets
*.DS_Store
*__pycache__

###> docker ###
/docker/mysql/data/*
/docker/nginx/logs/*
###< docker ###

###> symfony/framework-bundle ###
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
